body {
  transform: scale(.9);
}

.redColorBox {
  text-align: center;
  background-color: red;
  height: 120px;
  width: 120px;
  float: left;

}
.blueColorBox {
  background-color: blue;
  height: 120px;
  width: 120px;
  float: left;

}
.yellowColorBox {
  background-color: yellow;
  height: 120px;
  width: 120px;
  float: left;

}
.greenColorBox {
  background-color: green;
  height: 120px;
  width: 120px;
  float: left;

}

#notaButton {
  padding: 50px
  margin: 10px;
  font-size: 120%;
  border-style: double;
}
h1  {
  text-align: center;
}
h3 {
  text-align: center;
}
